_site
.DS_Store
*.swp
.sass-cache
*~
.jekyll-cache
Gemfile
Gemfile.lock
_config.yml
/.bundle
/db/*.sqlite3
/doc/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

/config/environments/production.rb
/config/*.yml
/*.log
_config.yml
