<hr><h2 class="text-center mb-4">Du hí 🛫</h2>

{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
<div class="blog-grid-container">
<div style="display: none">
<div class="blog-grid-item"></div>
<div class="blog-grid-item"></div>
<div class="blog-grid-item"></div></div>
{% assign duhis = site.categories['Du hí 🛫'] %}
{% for post in duhis | sort %}
{% assign position = forloop.index0 %}
    {% if post.pinned %}
        {% include postbox-home.html %}
    {% endif %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endfor %}
</div>
