---
layout: default
title: Trang chủ
---

<!-- Posts Index
================================================== -->
{% include categories-home.html %}

<div class="blog-grid-container">

    {% for post in paginator.posts %}
        {% if post.pinned %}
            <!-- Renders all the pinned posts -->
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
    {% for post in paginator.posts %}
        {% unless post.pinned %}
            {% include postbox.html %}
        {% endunless %}
    {% endfor %}
</div>
<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>



