---
layout: default
title: Trang chủ
---
<hr>{% include intro-home.html %}
<h2 class="text-center mb-4">Bài viết mới nhất</h2>
<div class="blog-grid-container">

    {% for post in paginator.posts %}
        {% if post.pinned %}
            <!-- Renders all the pinned posts -->
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
    {% for post in paginator.posts %}
        {% unless post.pinned %}
            {% include postbox.html %}
        {% endunless %}
    {% endfor %}
</div>
<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>

<hr><h2 class="text-center mb-4">Chủ đề</h2>
<section class="container-fluid align-items-center container-section-2">
{% include categories-home.html %}
<hr>
{% include my-album-home.html %}</section>
<hr><h2 class="text-center mb-4">Nhiếp ảnh 📸</h2>

{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
<div class="blog-grid-container">
<div style="display: none">
<div class="blog-grid-item"></div>
<div class="blog-grid-item"><div class="blog-grid-item"></div><div class="blog-grid-item"></div></div>
<div class="blog-grid-item"></div></div>
{% assign nhiepanhs = site.categories['Nhiếp ảnh 📸'] %}
{% for post in nhiepanhs | sort %}
{% assign position = forloop.index0 %}
    {% include postbox-home.html %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endfor %}
</div>

<hr><h2 class="text-center mb-4">Coding 💻</h2>
{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
{% assign codes = site.categories['Coding 💻'] %}
<section>
    {% for post in codes | sort %}
    {% assign position = forloop.index0 %}
      <div class="card h-100">
        <div class="row " style="font-family: 'Roboto Mono', monospace; font-size: 1rem;">
              <div class="card-block px-3">
                <h4 class="card-title py-3">{{ post.excerpt | strip_html | truncatewords:60 }}</h4>
                <a href="{{ site.baseurl }}{{ post.url }}"><p class="card-text">(－ω－) Đọc thêm</p></a>
</div></div></div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
          {% break %}
      {% endif %}
      <br>
    {% endfor %}
  </div>
    <section class="my-5" id="pricing">
      <div class="container pricing" style="font-family: 'Roboto Mono', monospace; font-size: 1rem;">
        <h4 class="py-3">Ebooks NodeJS Người Mới!</h4>
        <ul >
          <li>* Hiểu về các khái niệm quan trọng trong Node.js như routing, middleware, xử lý bất đồng bộ, và quản lý cơ sở dữ liệu.</li>
          <li>* Sử dụng các công cụ và thư viện</li>
          <li>* Phát triển kỹ năng lập trình ứng dụng chúng trong việc xây dựng ứng dụng web sử dụng Node.js.</li>
          <li>* Tăng cơ hội nghề nghiệp:</li>
        </ul>
        <a href="#"><button class="btn btn-danger mb-3">Tải ngay</button></a>
      </div>
    </section>
  </section>

<style>

.card {
  overflow:hidden;
}

.card-text {
  color: #333;
}

.pricing ul {
  list-style-type: none;
}


.pricing {
/*   border: 1px solid gray; */
  box-shadow: 0 4px 12px rgba(0,0,0,.05), 0 2px 6px rgba(0,0,0,.15);
}

@media (max-width:756px) {
  .col-md-4 {
    height:300px;
    overflow:hidden;
    padding-left:1rem;
    padding-right:1rem;
  }
}
</style>
<hr><h2 class="text-center mb-4">Du hí 🛫</h2>

{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
<div class="blog-grid-container">
<div style="display: none">
<div class="blog-grid-item"></div>
<div class="blog-grid-item"></div>
<div class="blog-grid-item"></div></div>
{% assign duhis = site.categories['Du hí 🛫'] %}
{% for post in duhis | sort %}
{% assign position = forloop.index0 %}
    {% if post.pinned %}
        {% include postbox-home.html %}
    {% endif %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endfor %}
</div>

