---
layout: default
title: Trang chủ
---

<hr><h2 class="text-center mb-4">Bài viết mới nhất</h2>
<div class="blog-grid-container">

    {% for post in paginator.posts %}
        {% if post.pinned %}
            <!-- Renders all the pinned posts -->
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
    {% for post in paginator.posts %}
        {% unless post.pinned %}
            {% include postbox.html %}
        {% endunless %}
    {% endfor %}
</div>
<!-- Pagination
================================================== -->
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
</div>

<hr><h2 class="text-center mb-4">Chủ đề</h2>
{% include categories-home.html %}
<hr>
<h2 class="text-center mb-4">Ảnh nổi bật</h2>
  <main>
    <div class="grid-container">
      <div class="column">
        <img src="https://i.imgur.com/cYyN1ha.jpg" title="source: imgur.com" />
        <img src="https://i.imgur.com/ChvesQy.jpg" title="source: imgur.com" />
        <img src="https://i.imgur.com/56uKmuv.jpg" title="source: imgur.com" />
        <img src="https://i.imgur.com/F4nlBZm.jpg" title="source: imgur.com" />
    </div>
    <div class="column">
       <img src="https://i.imgur.com/MLfPLfZ.jpg" title="source: imgur.com" />
      <img src="https://i.imgur.com/n2evGeq.jpg" title="source: imgur.com" />
      <img src="https://i.imgur.com/glrfhiO.jpg" title="source: imgur.com" />
      <img src="https://i.imgur.com/VfC49iM.jpg" title="source: imgur.com" />
    </div>
      <div class="column">
        <img src="https://images.pexels.com/photos/3629537/pexels-photo-3629537.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/1327838/pexels-photo-1327838.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/3673762/pexels-photo-3673762.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/3338497/pexels-photo-3338497.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

      <div class="column">
        <img src="https://images.pexels.com/photos/4000421/pexels-photo-4000421.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4230630/pexels-photo-4230630.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4197439/pexels-photo-4197439.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

      <div class="column">
        <img src="https://images.pexels.com/photos/2248516/pexels-photo-2248516.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4555468/pexels-photo-4555468.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/2899100/pexels-photo-2899100.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/3726314/pexels-photo-3726314.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

    </div>
  </main>
<style>
.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
</style>

<hr><h2 class="text-center mb-4">Nhiếp ảnh 📸</h2>

{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
<div class="blog-grid-container">
{% assign nhiepanhs = site.categories['Nhiếp ảnh 📸'] %}
{% for post in nhiepanhs | sort %}
{% assign position = forloop.index0 %}
    {% include postbox.html %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endfor %}
</div>

<hr><h2 class="text-center mb-4">Coding 💻</h2>
{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
{% assign codes = site.categories['Coding 💻'] %}
<section>

    {% for post in codes | sort %}
    {% assign position = forloop.index0 %}


      <div class="container py-3">
      <div class="card">
        <div class="row ">
          <div class="col-md-4 bg-scuba">

            </div>
            <div class="col-md-8 px-3">
              <div class="card-block px-3">
                <h4 class="card-title py-3">{{ post.title }}</h4>
                <p class="card-text">{{ post.excerpt | strip_html | truncatewords:60 }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
          {% break %}
      {% endif %}
    {% endfor %}

    <section class="my-5" id="pricing">
      <div class="container pricing">
        <h4 class="py-3">Ebooks NodeJS Người Mới!</h4>
        <ul class="pb-3">
          <li> Hiểu về các khái niệm quan trọng trong Node.js như routing, middleware, xử lý bất đồng bộ, và quản lý cơ sở dữ liệu.</li>
          <li> Sử dụng các công cụ và thư viện</li>
          <li> Phát triển kỹ năng lập trình ứng dụng chúng trong việc xây dựng ứng dụng web sử dụng Node.js.</li>
          <li> Tăng cơ hội nghề nghiệp:</li>
        </ul>
        <a href="#"><button class="btn btn-danger mb-3">Tải ngay</button></a>
      </div>
    </section>
  </section>
<style>

.card {
  overflow:hidden;
}

.card-text {
  color: #333;
}

.pricing ul {
  list-style-type: none;
}
.pricing ul li:before {
 font-family: 'FontAwesome';
content: '\f00c';
margin:0 5px 0 -15px;
color: #f00;

}

.pricing {
/*   border: 1px solid gray; */
  box-shadow: 0 4px 12px rgba(0,0,0,.05), 0 2px 6px rgba(0,0,0,.15);
}

@media (max-width:756px) {
  .col-md-4 {
    height:300px;
    overflow:hidden;
    padding-left:1rem;
    padding-right:1rem;
  }
}
</style>
<hr><h2 class="text-center mb-4">Du hí 🛫</h2>

{% assign maxRelated = 3 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
<div class="blog-grid-container">
{% assign duhis = site.categories['Du hí 🛫'] %}
{% for post in duhis | sort %}
{% assign position = forloop.index0 %}
    {% include postbox.html %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
        {% break %}
    {% endif %}
{% endfor %}
</div>
