<div id="hiddenDiv" style="display: none;
background-color: lightgray;
padding: 10px;
position: absolute;">
{% assign maxRelated = 2 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for category in post.categories %}
        {% if post.url != page.url %}
            {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% capture tagmarkup %} {{ category }} {% endcapture %}
            {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
        {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}
        <div class="article-post" id="articlePost">
            <hr>
            <!-- Toc if any -->
            {% if page.toc %}
            {% if page.beforetoc %}
                <p><em>{{page.beforetoc}}</em></p>
            {% endif %}
            <div class="toc mt-4 mb-4 lead">
                <h3 class="font-weight-bold">Summary</h3>
                {% include toc.html html=content %}
            </div>
            {% endif %}
            <!-- End Toc -->
            <h1 class="posttitle"><a style="color:black" href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>

            <section id="content">
                {{ post.content }}
                <p class="clear"></p>
            </section>
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
        {% endif %}
    {% endfor %}
</div>
<script>
document.addEventListener("DOMContentLoaded",function(){let e=document.getElementById("triggerDiv"),t=document.getElementById("hiddenDiv");window.addEventListener("scroll",function n(){var i,l;if((l=(i=e).getBoundingClientRect()).top>=0&&l.left>=0&&l.bottom<=(window.innerHeight||document.documentElement.clientHeight)&&l.right<=(window.innerWidth||document.documentElement.clientWidth)){t.style.display="block";let d=document.getElementsByClassName("footer");for(let o=0;o<d.length;o++)d[o].style.display="none"}})});</script>
