<br>
<div>
	{% assign category_id = 1 %}
	{% for tag in site.categories %}
	{% assign tag_size = tag[1].size %}
	{% assign tag_name = tag[0] %}
	{% if tag_size < 10 %} {% comment %} Add a '0' to the size section if size < 10. {% endcomment %} {% assign
		taglist=taglist | append: "0" |append: tag_size|append: "," |append: tag_name |append: "@" %} {% else %} {%
		assign taglist=taglist | append: tag_size|append: "," |append: tag_name |append: "@" %} {% endif %} {% endfor %}
		{% assign sorted_cats=taglist | split: "@" |sort|reverse %} {% for category_list in sorted_cats %} {% assign
		category=category_list | split: "," %} <span class="post-name font-weight-bold" style="font-size: 20px;"><a
			href="{{ category_id }}" target="_blank" onclick='getHrefOnclickAndRedirectWithLink(event)'>{{ category[1]
			}} ({{category[0]}} post) ||</a></span>
		{% assign category_id = category_id | plus: 1 %}
		{% endfor %}
</div>
<script>
	var root_url = window.location.origin; function getHrefOnclickAndRedirectWithLink(t) { t.preventDefault(); t = t.currentTarget.getAttribute("href"); window.location = [root_url, "/categories?category=", encodeURIComponent(t), "&"].join("") }
</script>
