<!-- Comments
================================================== -->

<div class="comments mt-5">
    <div class="article-post"><p style="text-align:center; ">
        <div id="fb-root"></div>
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"  data-width="100%"></div>
    </p>
    </div>
</div>
<style> /*Facebook comment*/ .fb_iframe_widget, .fb_iframe_widget span,.fb_iframe_widget span iframe[style] { min-width: 100% !important; width: 100% !important; } </style>
