{% if page.image %}
<div class="entry-featured-image">
    {% if site.lazyimages == "enabled" %}

    <img class="featured-image lazyimg {% if page.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% else %}
    <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% endif %}
</div>
{% endif %}
<script>
setTimeout(function() {
    var featuredImage = document.querySelector('.featured-image');
            // Lấy phần tử preloader
            var preloader = document.getElementById('ctn-preloader');

            // Check if the preloader has the 'loaded' attribute
            if (preloader && preloader.hasAttribute('loaded')) {
                // If it has, remove the 'loaded' attribute
                preloader.removeAttribute('loaded');
            }
}, 3000); // Chờ 5 giây
</script>
