<h2 class="text-center mb-4">Ảnh nổi bật</h2>
  <main>
    <div class="grid-container">
      <div class="column">
        <img class="img-thumb lazyimg" src="https://i.imgur.com/cYyN1ha.jpg" title="source: imgur.com" />
        <img class="img-thumb lazyimg" src="https://i.imgur.com/ChvesQy.jpg" title="source: imgur.com" />
        <img class="img-thumb lazyimg" src="https://i.imgur.com/56uKmuv.jpg" title="source: imgur.com" />
        <img class="img-thumb lazyimg" src="https://i.imgur.com/F4nlBZm.jpg" title="source: imgur.com" />
    </div>
    <div class="column">
       <img class="img-thumb lazyimg" src="https://i.imgur.com/MLfPLfZ.jpg" title="source: imgur.com" />
      <img class="img-thumb lazyimg" src="https://i.imgur.com/n2evGeq.jpg" title="source: imgur.com" />
      <img class="img-thumb lazyimg" src="https://i.imgur.com/glrfhiO.jpg" title="source: imgur.com" />
      <img class="img-thumb lazyimg" src="https://i.imgur.com/VfC49iM.jpg" title="source: imgur.com" />
    </div>
      <div class="column">
        <img class="img-thumb lazyimg"  src="https://images.pexels.com/photos/3629537/pexels-photo-3629537.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img class="img-thumb lazyimg"  src="https://images.pexels.com/photos/1327838/pexels-photo-1327838.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img class="img-thumb lazyimg"  src="https://images.pexels.com/photos/3673762/pexels-photo-3673762.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img class="img-thumb lazyimg"  src="https://images.pexels.com/photos/3338497/pexels-photo-3338497.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

      <div class="column">
        <img src="https://images.pexels.com/photos/4000421/pexels-photo-4000421.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4230630/pexels-photo-4230630.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4197439/pexels-photo-4197439.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

      <div class="column">
        <img src="https://images.pexels.com/photos/2248516/pexels-photo-2248516.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/4555468/pexels-photo-4555468.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/2899100/pexels-photo-2899100.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">

        <img src="https://images.pexels.com/photos/3726314/pexels-photo-3726314.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
      </div>

    </div>
  </main>
<style>
.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
</style>
