<script>
var startTimeCountCancelClick=Date.now();function handleClickTimeCountCancelClick(){Date.now()-startTimeCountCancelClick>=1e4?alert("Đ\xe3 chấp nhận click sau 10 gi\xe2y"):alert("Vui l\xf2ng đợi 10 gi\xe2y trước khi click")}
</script>
<div id="outer" onclick="handleClickTimeCountCancelClick()"><div id="inner">
{% for post in site.posts %}
        {% if post.permalink == include.post_src %}
        {% include postbox.html %}
        {% break %}
        {% endif %}
{% endfor %}
<br><p></p></div></div>

