<script>
var startTimeCountCancelClick = Date.now();
// Các xử lý khác có thể thêm ở đây
function handleClickTimeCountCancelClick() {
        // Kiểm tra nếu đã trôi qua 10 giây, thì mới cho phép xử lý sự kiện click
        if (Date.now() - startTimeCountCancelClick >= 10000) {
        alert("Đã chấp nhận click sau 10 giây");
        // Thêm các xử lý click mong muốn ở đây
        } else {
        alert("Vui lòng đợi 10 giây trước khi click");
        }
}
</script>
<div id="outer" onclick="handleClickTimeCountCancelClick()"><div id="inner">
{% for post in site.posts %}
        {% if post.permalink == include.post_src %}
        {% include postbox.html %}
        {% break %}
        {% endif %}
{% endfor %}
<br><p></p></div></div>

