{% if include.redirect_src %}

<body class="preloading">
    <div class="loader"><span class="fas fa-spinner xoay icon"></span></div>
    <div class='row'>
        <button class="btn" onclick="countDownActive()">
            <span id="timer-count-redirect">👉{{include.redirect_title}}<b> đây.</b></span>
        </button>
        <button class="btn ml-3" id="welcomeDiv" style="display:none;" onclick="cancelCountDown()">Hủy</button>
    </div>
</body>
{% endif %}


<script type="text/javascript">
    let countRedirect = 10; // Timer
    let isCountDown = true;
    var redirect = "{{include.redirect_src}}"; // Target URL
    let position = "{{include.local}}";
    let urls = "{{site.url}}";
    var timerCountRedirect = document.getElementById("timer-count-redirect"); // Timer ID
    console.log("{{site.baseurl}}/{{include.redirect_src}}");
    function cancelCountDown() {
        isCountDown = false;
        console.log("Khóa chuyển hướng");
        timerCountRedirect.innerHTML = "{{include.redirect_title}}";
        document.getElementById('welcomeDiv').style.display = "none";
    }
    function countDownActive() {
        isCountDown = true;
        countDown();
    }
    function countDown() {
        console.log("Đang chuyển hướng");
        document.getElementById('welcomeDiv').style.display = "block";

        if (isCountDown && countRedirect > 0) {
            countRedirect--;
            timerCountRedirect.innerHTML = "Chuyển hướng sau " + countRedirect + " giây."; // Timer Message
            setTimeout("countDown()", 1000);

        } else if (isCountDown&& countRedirect <1 && position) {
            window.location.href = urls+redirect;
        }else if (isCountDown&& countRedirect <1 && !position) {
            window.location.href = redirect;
        }
        else if (!isCountDown) {
            countRedirect = 10;
            timerCountRedirect.innerHTML = "{{include.redirect_title}}";
            document.getElementById('welcomeDiv').style.display = "none";
        }
        else {

        }
    }
</script>
