<!-- Related Posts
================================================== -->
<div class="{% unless page.categories == empty %} related-posts {% endunless %}">

    {% unless page.categories == empty %}
    <h2 class="text-center mb-4">Bài viết liên quan</h2>
    {% endunless %}

    <div class="d-flex justify-content-center align-items-center">

    <!-- Categories -->
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
        {% if category == 'Nhiếp ảnh 📸' %}
        <a class="smoothscroll badge badge-primary text-capitalize" href="{{site.baseurl}}/nhiep-anh#{{ category | replace: " ","-" }}">{{ category }}</a>
        {% elsif category == 'Coding 💻' %}
        <a class="smoothscroll badge badge-primary text-capitalize" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
        {% else %}
        <a class="smoothscroll badge badge-primary text-capitalize" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
        {% endif %}
    {% endfor %}

    <!-- Tags -->
    {% assign sortedTags = page.tags | sort %}
    {% for tag in sortedTags %}
    <a href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">, {{ tag }}</a>
    {% endfor %}

    </div>

    {% assign maxRelated = 3 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}
    <div class="blog-grid-container">
        {% for post in site.posts %}

            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}
            {% assign random_elements_categories = post.categories %}
            {% for category in random_elements_categories %}
            {% if post.url != page.url %}
                {% if page.categories contains category %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} {{ category }} {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
            {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}
            {% include postbox.html %}

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
            {% if maxRelatedCounter >= maxRelated %}
                {% break %}
            {% endif %}
            {% endif %}
        {% endfor %}
        </div>
</div>
<script>
    var allPosts;
    function createrAllPosts() {
        if (allPosts) {
            console.log("đã có rồi!");
        }else{
            allPosts = [
                {% assign random_elements = site.posts | sample: 5 %}
                {% for post in random_elements %}
                { url: "{{ post.url }}", title: "{{ post.title }}" } {% unless post.previous == nil %}, {% endunless %}
                {% endfor %}
            ];
        }
    }
    setTimeout(function() {createrAllPosts();}, 25000);
    var comingFromPost=document.referrer;let next_post_url="";function linkToRandomBlogPost(){let o=0,t="/about-me";do{let n=Math.floor(Math.random()*(allPosts&&allPosts.length||[])),r=allPosts[n];var e=r.title,l=r.url;o++}while(comingFromPost.includes(l)||o>10);return o>10&&comingFromPost!==t&&(l=t),o>10&&comingFromPost===t&&(l="/2022-nhin-lai-mot-nam-da-qua"),next_post_url=l,e}
    function initializeToastr(){toastr.options={closeButton:!0,debug:!1,newestOnTop:!1,progressBar:!1,positionClass:"toast-bottom-right",preventDuplicates:!1,showDuration:"300",hideDuration:"1000",timeOut:"10000",extendedTimeOut:"1000",showEasing:"swing",hideEasing:"linear",showMethod:"fadeIn",hideMethod:"fadeOut"},toastr.options.onclick=function(){window.location.replace(next_post_url||"{{ site.baseurl }}")},setTimeout(function(){toastr.info(linkToRandomBlogPost(),"Next post:")},30000),$("#linkButton").click(function(){toastr.success(linkToRandomBlogPost())})}
    var toastrInitialized=!1;function checkAndInitializeToastr(){var t;toastrInitialized||(t=window.scrollY||window.pageYOffset||document.documentElement.scrollTop,((document.documentElement.scrollHeight-document.documentElement.clientHeight)/2<t||30e4<=Date.now()-startTime)&&(initializeToastr(),toastrInitialized=!0))};var startTime=Date.now();$(document).ready(function(){initializeToastr()}),window.addEventListener("scroll",function(){checkAndInitializeToastr()});
        </script>
