<div class="embed-spotify-song" >
    <center><iframe src="https://open.spotify.com/embed/track/{{ include.id }}" frameborder="0"
        allowtransparency="true" allow="encrypted-media" loading="lazy">
    </iframe>
    </center>
</div>
<style>
.embed-spotify-song{width:300px;height:80px;position:relative;max-width:100%}.embed-spotify embed,.embed-spotify object,.embed-spotify-song iframe{position:absolute;width:300px;height:80px;top:0;left:0;max-width:100%}.embed-spotify embed,.embed-spotify object{position:absolute;width:300px;height:310px;top:0;left:0;max-width:100%}
</style>
