---
title: "Categories"
layout: default
permalink: "/categories.html"
---
<div>
    <h1>Thể loại</h1>
    <div class="gcse-search"></div>
    <hr/>
    <div class ="tags-expo-section">
        {% for category in site.categories %}
        <h2 class="mt-5 mb-neg-30" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize badge badge-primary text-small">{{ category[0] }}</span></h2>
        <!-- <div class="blog-grid-container"> -->
        <hr/>
        <ul class="tags-expo-posts">
        {% assign pages_list = category[1] %}
        {% for post in pages_list %}
        {% if post.title != null %}
        {% if group == null or group == post.group %}
        {% include postlist.html %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
        <!-- </div> -->
        </ul>
        {% endfor %}
    </div>
</div>

<script async src="https://cse.google.com/cse.js?cx=d589faf0c21ff43ae">
</script>
