---
layout: default
archive: false
post_class: post-template
<!-- comments: true -->
---
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="JekfmCeX"></script>
<div class="entry-header">
    <!-- Post Title -->
    <h1 class="posttitle">{{ page.title }}</h1>
    <!-- Author & Date  Box -->
    {% assign author = site.authors[page.author] %}
    {% if page.author %}
    <div class="d-flex align-items-center mt-4">
        <div>
            {% if author.avatar %}
            <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
            {% else %}
            <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x"
                alt="{{ author.display_name }}">
            {% endif %}
        </div>
        <div>
            Written by {{ author.display_name }} on
            <span class="post-date"><time class="post-date" datetime="{{ page.date | date:" %Y-%m-%d" }}">{{ page.date |
                    date_to_string }}</time></span>
            {% if page.last_modified_at %}
            (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{
                page.last_modified_at | date: "%b %-d, %Y" }}</time>)
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
{% if site.adsense == "enabled" %}
{% include adsense-under-header.html %}
{% endif %}

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
{% include article.html %}

<!-- Quote -->
{% include quote.html %}

<!-- Comment -->
<div class="container">
    <br><p style="text-align:center; ">(〜￣▽￣)〜<b> Để lại bình luận của bạn ở đây. </b>ヘ(￣ω￣ヘ)</p>
    <div class="row">
    <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-8"><br>
            <p style="text-align:center; ">
            <div id="fb-root"></div>
            <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
            </p>
        </div>
    </div>
</div>

<!-- Rating -->
{% if page.rating %}
<div class="rating mt-4 mb-4 d-flex align-items-center">
    <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
</div>
{% endif %}

<!-- Author Box if enabled from _config.yml -->
{% include author-box.html %}

<!-- Share -->
{% include share.html %}

<!-- Related Post -->
{% include related-posts.html %}

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first:
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
    },
    "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
    },
    "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
    }
    }
    </script>
{% endif %}

<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.async=true;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=2086804534891096";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Chặn bấm chuột phải -->
<script type='text/javascript'>
    //<![CDATA[
    // JavaScript Document
    var message = "NoRightClicking";
    function defeatIE() {
        if (document.all) { (message); return false; }
    }
    function defeatNS(e) {
        if (document.layers || (document.getElementById && !document.all)) {
            if (e.which == 2 || e.which == 3) {
                (message); return false;
            }
        }
    }
    //]]>
</script>
<!-- darkmode -->
<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.44/darkreader.js"></script><script>document.getElementsByClassName('dark-mode-button')[0].onclick = function() { darkmode(); }; function darkmode() {
    console.log("enable darkmode"); let enabled = localStorage.getItem('dark-mode'); if (enabled === null) { if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) { enable(); } } else if (enabled === 'true') { enable(); } if (localStorage.getItem('dark-mode') === 'false') { enable(); } else { disable(); } } function enable() { DarkReader.setFetchMethod(window.fetch); DarkReader.enable(); localStorage.setItem('dark-mode', 'true'); } function disable() { DarkReader.disable(); localStorage.setItem('dark-mode', 'false'); } </script>
