<html>

<head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
   <meta charset="utf-8">
   <title>Thêm bài viết mới v2</title>

</head>

<body>
   <hr>
   <div>
      <section class="grid extended-grid-18">
         <div class="container clearfix">
            <div class="row row-sm-sm sample-row">
               <div class="col-xs-12 col-md-8 gutter-sm-sm gutter-margin-xs-sm">
                  <div class="inner">
                     <form id="contact-form" class="form-horizontal" role="form">

                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Tiêu đề</h4>
                              <input type="text" class="form-control" id="titleId" placeholder="Tiêu đề"
                                 name="Tiêu đề mới" value="" required>
                           </div>
                        </div>

                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Tác giả</h4>
                              <input type="text" class="form-control" id="authorId" placeholder="Thêm tên tác giả"
                                 name="author-name" value="" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Chủ đề</h4>
                              <input type="text" class="form-control" id="categorieIds"
                                 placeholder="vd: nhiếp ảnh, lập trình" name="category-name" value="" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Thẻ tag</h4>
                              <input type="text" class="form-control" id="tagIds"
                                 placeholder="vd: nhiếp ảnh, lập trình" name="tag-name" value="" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Ngày xuất bản</h4>
                              <input type="date" class="form-control" id="dateId" name="date-name" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <div class="col-sm-12">
                              <h4>Tóm tắt</h4>
                              <input type="text" class="form-control" value="" rows="10" placeholder="Tóm tắt"
                                 name="description-name" id="descriptionId" required>
                           </div>
                        </div>
                        <br>
                     </form>


                     <div class="form-group">
                        <div class="col-sm-12">
                           <h4>Nội dung</h4>
                           <input id="editor" class="form-control" value="" rows="10" placeholder="Nội dung"
                              name="ck-name" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <label for="myCheck">Cho phép bình luận:</label>
                           <input type="checkbox" id="myCheck" onclick="myFunction()">
                        </div>
                     </div>

                     <button onclick="saveDynamicDataToFile();" class="btn btn-primary send-button" id="submit"
                        type="submit" value="SEND">
                        <div class="alt-send-button">
                           <i class="fa fa-paper-plane"></i><span class="send-text">Click to Save</span>
                        </div>
                     </button>
                  </div>
               </div>
               <div class="col-xs-6 col-md-4 gutter-sm-sm gutter-margin-xs-sm">
                  <div class="inner">

                     <h2>Mã code markdown</h2>
                     <hr>
                     <div id="myText"></div>
                     <p>Ctrl+A và Ctrl+S để lưu code markdown. Bạn thử dùng Ctrl+V để dán nội dung đã copy vào file md
                        của bạn.</p>
                     <hr>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>

</body>

<script src="../ckeditor5/build/ckeditor.js"></script>
<script src="../assets/js/FileSaver.js"></script>
<script>

   let isComment = false;
   let titleValue = "";
   let authorValue = "";
   let categoryValue = "";
   let tagValue = "";
   let theEditor = "";
   let headContent = "";
   let dateValue = "";
   let descriptionValue = "";
   function checkInputTitleId(obj) {
      if (obj && obj.value) {
         titleValue = obj.value;
         console.log("title: ", titleValue);
         checkChangeForm();
      }
   }

   function checkChangeForm() {
      if (document.getElementById('titleId') && document.getElementById('titleId').value) {
         titleValue = document.getElementById('titleId').value
      }
      if (document.getElementById('authorId') && document.getElementById('authorId').value) {
         authorValue = document.getElementById('authorId').value
      }
      if (document.getElementById('categorieIds') && document.getElementById('categorieIds').value) {
         categoryValue = document.getElementById('categorieIds').value
      }
      if (document.getElementById('tagIds') && document.getElementById('tagIds').value) {
         tagValue = document.getElementById('tagIds').value
      }
      if (document.getElementById('dateId') && document.getElementById('dateId').value) {
         dateValue = (document.getElementById('dateId').value).toString()
      }
      if (document.getElementById('descriptionId') && document.getElementById('descriptionId').value) {
         descriptionValue = (document.getElementById('descriptionId').value).toString()
      }

   }
   document.querySelector("form").addEventListener("change", (event) => {
      if (!event.target.classList.contains("nochange")) {
         console.log("fire change for me");
         checkChangeForm();
         headContent = "---\n"
         if (titleValue) {
            headContent = headContent + "title: " + '"' + titleValue + '"' + "\n";
         }
         if (authorValue) {
            headContent = headContent + "author: " + '"' + authorValue + '"' + "\n";
         }
         if (descriptionValue) {
            headContent = headContent + "description: " + '"' + descriptionValue + '"' + "\n";
         }
         if (categoryValue) {
            headContent = headContent + 'categories: ' + '[' + categoryValue + ' ]\n';
         }
         if (tagValue) {
            headContent = headContent + 'tags: ' + '[' + tagValue + ' ]\n';
         }
         if (dateValue) {
            headContent = headContent + 'date: ' + '"' + dateValue + '"' + '\n';
         }
         headContent = headContent + "lazyimages: " + '"' + "enabled" + '"' + "\n";

         headContent = headContent + "layout: " + "post" + "\n";
         headContent = headContent + "isGithubComments: " + isComment + "\n";
         headContent = headContent + "---\n\n";
         if (headContent) {
            document.getElementById('myText').innerHTML = "<pre>" + headContent + theEditor + "</pre>";
         }
      } else {
         console.log("no change event for me");
      }
   });

   function checkInputCategoryIds(obj) {
      if (obj && obj.value) {
         categoryValue = obj.value;
         console.log("categoryValue: ", categoryValue);
         checkChangeForm();
      }
   }
   function checkInputTagIds(obj) {
      if (obj && obj.value) {
         tagValue = obj.value;
         console.log("tagValue: ", tagValue);
         checkChangeForm();
      }
   }
   function checkInputAuthorId(obj) {
      if (obj && obj.value) {
         authorValue = obj.value;
         console.log("authorId: ", authorValue);
         checkChangeForm();
      }
   }


   ClassicEditor
      .create(document.querySelector('#editor')).then(editor => {
         console.log('Editor was initialized', editor);
         editor.model.document.on('change:data', () => {
            console.log(editor.getData());
            theEditor = editor.getData();

            if (headContent) {
               document.getElementById('myText').innerHTML = "<pre>" + headContent + editor.getData() + "</pre>";
            } else {
               document.getElementById('myText').innerHTML = "<pre>" + editor.getData() + "</pre>";
            }

            // marked.parse(editor.getData());

         });
      })
      .catch(error => {
         console.error(error);
      });

   async function saveDynamicDataToFile() {
      if (headContent) {
         var blob = new Blob([bodyContent], { type: "text/plain;charset=utf-8" });
         saveAs(blob, "dynamic.md");
      } else {
         alert('Rỗng')
      }

   }

   // function myFunction() {
   //    var copyText = document.getElementById("myText").innerHTML;
   //    window.prompt("Copy to clipboard: Ctrl+C, Enter", copyText);

   //    var tooltip = document.getElementById("myTooltip");
   //    tooltip.style.display = 'block';
   //    tooltip.innerHTML = "Đã copy";
   // }
   function myFunction() {
      var checkBox = document.getElementById("myCheck");
      if (checkBox.checked == true) {
         isComment = true;
      } else {
         isComment = false;
      }
   }
   // function readTextFile(file) {
   //    console.log("readfile");
   //    var rawFile = new XMLHttpRequest();
   //    rawFile.open("GET", file, false);
   //    rawFile.onreadystatechange = function () {
   //       if (rawFile.readyState === 4) {
   //          if (rawFile.status === 200 || rawFile.status == 0) {
   //             var allText = rawFile.responseText;
   //             alert(allText);
   //          }
   //       }
   //    }
   //    rawFile.send(null);
   // }
   // readTextFile("file:///C:/your/path/to/file.txt");


</script>


</html>
