<html>

<head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
   <meta charset="utf-8">
   <title>Thêm bài viết mới v2.3.7</title>
   <link rel="icon" href="{{ site.baseurl }}/assets/images/logo.webp">
   <script src="../ckeditor/ckeditor.js"></script>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8920573839255504"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
   <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Hướng dẫn viết bài -->
</head>

<body>
   <h1>Thêm bài viết mới v0.0.1</h1>
   <span>Lưu ý soạn xong bấm Source để copy code html</span><br>
   <form>
      <textarea name="ten" id="ten"></textarea>
      <script>CKEDITOR.replace('ten');</script>
   </form>
</body>

</html>
