<html>

<head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
   <meta charset="utf-8">
   <title>Thêm bài viết mới</title>


</head>

<body>
   <hr>
   <hr>
   <div>
      <section class="grid extended-grid-18">
         <div class="container clearfix">
            <div class="row row-sm-sm sample-row">
               <div class="col-xs-12 col-md-8 gutter-sm-sm gutter-margin-xs-sm">
                  <div class="inner">
                     <h2>Viết tại đây</h2>
                     <hr>
                     <hr>
                     <form action="" method="post">
                        <div id="editor">
                           <p>This is some sample content.</p>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="col-xs-6 col-md-4 gutter-sm-sm gutter-margin-xs-sm">
                  <div class="inner">

                     <h2>Mã code markdown</h2>
                     <hr>
                     <hr>
                     <div id="myText"></div>
                     <p id="demo">Click me to change my HTML content.</p>
                     <hr>


                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <button id=getdata>Print data</button>
</body>

<script src="../ckeditor5/build/ckeditor.js"></script>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<script>

   let theEditor;
   ClassicEditor
      .create(document.querySelector('#editor')).then(editor => {
         console.log('Editor was initialized', editor);
         theEditor = editor;
         editor.model.document.on('change:data', () => {
            console.log(editor.getData());
            // document.getElementById("demo").innerHTML = "<md-block>" + editor.getData() + "</md-block>";
            document.getElementById('myText').innerHTML ="<pre>" + editor.getData() + "</pre>";
               // marked.parse(editor.getData());

         });
      })
      .catch(error => {
         console.error(error);
      });
   function getDataFromTheEditor() {
      return theEditor.getData();
   }
   document.getElementById('getdata').addEventListener('click', () => {
      getDataFromTheEditor()
      console.log(getDataFromTheEditor());
      document.getElementById("myText").value = getDataFromTheEditor();
      document.getElementById("demo").innerHTML = "<md-block>" + getDataFromTheEditor() + "</md-block>";
   });
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</html>
